{% extends 'base.html' %}
{% load comments pagination_tags %}

{% block title %}Недвижимость Египта{% endblock %}

{% block h1 %}Объекты недвижимости{% endblock %}

{% block content %}
  {% autopaginate object_list 10 %}
  {% if object_list|length %}
    <ul style="min-width: 500px;">
      {% for object in object_list %}
        <li class="blogitem">
            <h2><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></h2>
            {% if object.image %}
              <div class="image">
                  <a href="{{ object.get_absolute_url }}">
                      <img src="{{ object.image.get_thumbnail_url }}" alt="{{ object.image.alt }}" />
                  </a>
              </div>
            {% endif %}
            <div class="blogbody" style="margin: 1em 0;">
              <p>{{ object.short_text }}</p>
            </div>
            <div class="clearfix"></div>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>объектов нет</p>
  {% endif %}
  {% paginate %}
{% endblock %}