{% extends 'base.html' %}

{% block title %}
    {{ object.title }}
{% endblock %}

{% block h1 %}
    {{ object.title }}
{% endblock %}

{% block content %}
<div class="content news">
    {% if object.image %}
        <div class="images">
            <a href="{{ object.image.get_display_url }}" rel="prettyPhoto">
                <img src="{{ object.image.get_thumbnail_url }}" alt=""/>
            </a>
        </div>
    {% endif %}
    <p class="subheader">{{ object.short_text }}</p>
    {% autoescape off %}
        {{ object.body }}
    {% endautoescape %}
</div>
{% endblock%}
