{% load sitetree %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta http-equiv="Expires" content="0"/>
        <meta name="keywords" content=""/>
        <meta name="description" content=""/>
        <link href="{{ STATIC_URL }}css/site.css" rel="stylesheet" type="text/css"/>
        <link href="{{ STATIC_URL }}css/prettyPhoto.css" rel="stylesheet" type="text/css"/>
        {% include "feedback/header.html" %}
        <title>{% block title %}Недвижимость Египта{% endblock %}</title>
    </head>
    <body>
        <div id="outerwrap" class="ourbusiness">
            <div id="innerwrap">

                <!-- Header start -->
                <div id="header">
                    <object type="application/x-shockwave-flash" data="/static/swf/top_6.swf" width="950" height="204">
                        <param name="movie" value="/static/swf/top_6.swf"/>
                        <param name="play" value="true"/>
                        <param name="loop" value="false"/>
                        <param name="quality" value="high"/>
                        <param name="wmode" value="opaque"/>
                    </object>
                </div>
                <!-- Header End -->

                <!-- Navigation start -->
                <div id="nav">
                    {% sitetree_menu from "mainmenu" include "trunk,home" %}
                    <div id="breadcrumb">
                        {% block breadcrumbs %}{% sitetree_breadcrumbs for "mainmenu" %}{% endblock %}
                    </div>
                </div>
                <!-- Navigation End -->

                <div>
                    <!-- Left Content Start -->
                    <div id="leftcontent">
                        <div class="top"><strong>Наш блог</strong></div>
                        <ul>
                            {% for entry in last_entries %}
                                <li><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></li>
                            {% endfor %}
                        </ul>
                        <div class="top"><strong>Недвижимость в городах</strong></div>
                        <ul>
                            {% for town in towns %}
                                <li><a href="{{ town.get_absolute_url }}">{{ town.name }}</a></li>
                            {% endfor %}
                        </ul>
                        <div class="top"><strong>Недвижимость по типам</strong></div>
                        <ul>
                            {% for type in types %}
                                <li><a href="{{ type.get_absolute_url }}">{{ type.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <!-- Left Content End -->

                    <!-- Content Start -->
                    <div id="centrecontent">
                        <div class="printcontent"></div>
                        {% block banner_above_h1 %}{% endblock %}

                        <h1>{% block h1 %}{% endblock %}</h1>

                        {% block content %}{% endblock %}

                        <!-- List items Start -->
                        {% block last_news %}{% endblock %}
                        <!-- List items End -->
                    </div>
                    <!-- Content End -->

                    <!-- Right Content Start -->
                    <div id="rightcontent">
                        <!-- "get" method used in order for the link to work, but will need to be changed to "post" in moss dev -->
                        <div class="clearfix">
                            <div class="resourcefinder">
                                <h3>Поиск недвижимости</h3>
                                {% include 'realty/search_form.html' %}
                            </div>
                        </div>
                        <div>{% include "feedback/button.html" %}</div>
                        <div>
                            <a href="#" target="_blank">
                                <img alt="" src="/static/images/b/banner.jpg"/>
                            </a>
                        </div>
                    </div>
                    <!-- Right Content End -->
                </div>
            </div>

            <!-- Footer start -->
            <div id="footer">
                {% sitetree_menu from "footermenu" include "trunk" %}
                <ul>
                    <li>© PyStars.Com 2011</li>
                </ul>
            </div>
            <!-- Footer End -->

        </div>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.6.1.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.prettyPhoto.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.form.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/site.js"></script>
    </body>
</html>
