{% extends 'base.html' %}
{% load comments %}
{% block content %}
<div id="blog" style="min-width: 500px;">  <!--idblog-->
  {% for post in posts %}
  <div class="blogitem">
      {% get_comment_count for post as comment_count %}
      {% get_comment_form for post as comment_form %}
    <h2><a href="/blog/{{ post.id }}">{{ post.title }}</a></h2>
    <div class="bloglogo" style="float: left;"><img src="/static/{{ post.logo }}" style="margin: 0 20 0 0"></div>
    <div class="blogbody" style="margin: 1em 0;">
      <p>{{ post.timestamp }}</p>
      <p>{{ post.short_text }}</p>
    </div> 
    <div style="clear:left"> &nbsp; </div>
    <small>Комментарии: [{{ comment_count }}]</small></br>
    <small onClick="onSmall({{ post.id }})" style="text-aling: right;">Добавить</small>
      <div id="comment{{ post.id }}" style="display: none;">
            <form action="{% comment_form_target %}" method="post">{% csrf_token %}
            <table>
              {{ comment_form }}
              <tr>
                <td></td>
                <td><input type="submit" name="preview" class="submit-post" value="Preview"></td>
              </tr>
            </table>
            </form>
      </div>
  </div>
{% endfor %}
<p><small>Yunin Ivan 2010 &copy;</small></p>
</div> <!--idblog-->

<div id="news">
<h2><a href="/news/">Новости</a></h2>
{% for new in news %}
  {% get_comment_count for new as comment_count %}
  {% get_comment_form  for new as comment_form %}
  <div class="bloglogo" style="float: left;"><img src="/static/{{ new.logo }}" style="max-width: 100px; margin: 0 20 0 0"></div>
  <p class="newstitle">{{ new.timestamp }}</p>
  <small>{{ new.short_text }}</small>
  <div style="clear:left"> &nbsp; </div>
{% endfor %}
</div>
<div id="users">
<h2>Пользователи</h2>
{% for user in users %}
  <p class="newstitle">{{ user.username }}:<small>{{ user.email }}</small></p>
{% endfor %}
</div>
{% endblock%}
