{% extends 'base.html' %}
{% load comments %}
{% block content %}
<h3>Объекты недвижимости</h3>
<div id="blog" style="min-width: 500px;">  <!--idblog-->
  {% for real_i in realty %}
  <div class="blogitem">
      {% get_comment_count for real_i as comment_count %}
      {% get_comment_form for real_i as comment_form %}
    <h2><a href="/blog/{{ real_i.id }}">{{ real_i.title }}</a></h2>
    <div class="bloglogo" style="float: left;"><img src="/static/}" style="margin: 0 20 0 0"></div>
    <div class="blogbody" style="margin: 1em 0;">
      <p>{{ real_i.title }}</p>
      <p>{{ real_i.title }}</p>
    </div> 
    <div style="clear:left"> &nbsp; </div>
    <small>Комментарии: [{{ comment_count }}]</small></br>
    <small onClick="onSmall({{ real_i.id }})" style="text-aling: right;">Добавить</small>
      <div id="comment{{ real_i.id }}" style="display: none;">
            <form action="{% comment_form_target %}" method="post">{% csrf_token %}
            <table>
              {{ comment_form }}
              <tr>
                <td></td>
                <td><input type="submit" name="preview" class="submit-post" value="Preview"></td>
              </tr>
            </table>
            </form>
      </div>
  </div>
{% endfor %}
<p><small>Yunin Ivan 2010 &copy;</small></p>
</div> <!--idblog-->
{% endblock%}
