{% extends 'flatpages/default.html' %}

{% block banner_above_h1 %}
{% if shifting_properties|length %}
<div class="content shifting-properties">
    <div class="images">
      {% for object in shifting_properties %}
        <img id="thumbnail{{ forloop.counter }}" class="thumbnail {% if forloop.counter0 %}hide{% endif %}" src="{{ object.image.get_thumbnail_url }}" alt="{{ object.image.alt }}"/>
      {% endfor %}
      {% for object in shifting_properties %}
        <img class="icon" id="icon{{ forloop.counter }}" src="{{ object.image.get_icon_url }}" alt="{{ object.image.alt }}" />
      {% endfor %}
    </div>
    {% for object in shifting_properties %}
    <div id="description{{ forloop.counter }}" class="property-description {% if forloop.counter0 %}hide{% endif %}">
        <h3>{{ object.title }}</h3>
        <p>{{ object.short_text }}</p>
        <p class="price">
            <span>{{ object.price_min }}{% ifnotequal object.price_max object.price_min %} - {{ object.price_max }}{% endifnotequal %} USD</span>
        </p>
    </div>
    {% endfor %}
</div>
<div class="clearfix"></div>
{% endif %}
{% endblock %}

{% block last_news %}
{% if last_news|length %}
    {% with last_news as object_list %}
        <div id="last_news">
            <h4>Последние новости</h4>
            {% include 'news/_news_list.html' %}
        </div>
    {% endwith %}
{% endif %}
{% endblock %}