<div id="feedback_button" class="black right normal"><a href="/feedback/">feedback</a></div>
<div id="feedback_drop" class="hiding"></div>
<div id="feedback_popup" class="hiding">
    <form class="feedback" action="/feedback/ajax{{ request.path }}" method="post">{% csrf_token %}
        <div class="name error"> </div>
        <label for="feedback-email">Ваш email</label>
            <input type="text" id="feedback-email" name="email"/>
        <div class="subject error"> </div>
        <label for="feedback-subject">Тема письма</label>
            <input type="text" id="feedback-subject" name="subject"/>
        <div class="text error"> </div>
        <label for="feedback-text">Сообщение</label>
            <textarea name="text" id="feedback-text" cols="40" rows="5"></textarea>
        <div class="buttons">
            <button type="submit">Отправить</button>
        </div>
    </form>
    <div class="thanks hiding">Спасибо за Ваше сообщение!</div>
    <div class="close"></div>
</div>
